'use client';

import { type ReactFlagEvaluationOptions, useFlag } from "@openfeature/react-sdk";
{{ range .Flags}}
/**
* {{.Docs}}
* 
* **Details:**
* - flag key: `{{ .Name}}`
* - default value: `{{ .CodeDefault }}`
* - type: `{{TypeString .Type}}`
*/
export const use{{FlagVarName .Name}} = (options: ReactFlagEvaluationOptions) => {
  return useFlag({{FlagInitParam .Name}}, {{CodeDefaultValueLiteral .}}, options);
};
{{ end}}